.Error404 {
    text-align: center;
    margin-top: 200px;
}

.Error404 span {
font-size: 15em;
font-weight: 600;
}

.Error404 p {
    font-size: 2.5em;
    font-weight: 100;
}

.lienRetour {
    text-decoration: underline;
    text-decoration-thickness: #FF6060;
    font-size: 1.5em;
    margin-top: 250px;
}