.Error404 {
    text-align: center;
}

.Error404 span {
font-size: 300px;
font-weight: 600;
}

.Error404 p {
    font-size: 40px;
    font-weight: 100;
}

.lienRetour {
    text-decoration: underline;
    text-underline-offset: #FF6060;
    font-size: 15px;
    margin-top: 250px;
}