.ficheLogement {
    display: grid;
    margin-top: 30px;
    border-radius: 20px;
    gap: 60px;
}

.fiche {
    aspect-ratio: 1/1; /* Rapport d'aspect 1:1 pour un carré */
    border-radius: 20px;
    background-position: center;
    color: white;
  }
  

.fondNoir {    
    display: flex;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.65));
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-left: 20px;
}
.fondNoir h2 {
    width: 30%;
}