.tags span{
    background-color: #FF6060;
    color: white;
    margin-right: 15px;
    padding: 0.2em 2em;
    margin-top: 5px;
    border-radius: 11px;
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.host {
    display: flex;
}
.titreLogement h2{
font-weight: 400;
}
.titreLogement h3 {
    font-weight: 200;
}
.description {
    display: flex;
    flex-direction: column;
}
.infoLogement {
    display: flex;
}
.liste{
    flex-direction: column;
    padding-left: 0px;
  }
.liste,.text{
    height: 250px;
    overflow: auto;
  }
  .profil {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profil img {
    height: 65px;
    border-radius: 50px;
    margin-left: 10px;
}
.DescriptionLogement {
    padding-bottom: 20px;
}
