.dropdown__title {
    display: flex;
    color: white;
    background-color: #FF6060;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 25px;
}
.dropdown p {
background-color:#F7F7F7 ;
margin-top: 0px;
padding: 15px 10px;
border-radius: 0px 0px 15px 15px;
line-height: 2em;
}

.menuDefilant {
    max-width: 90%;
    margin: auto;
}