.titreAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #FF6060;
    color: white;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

.containerAbout {
margin: auto;
width: 80%;
}

.description {
    padding: 10px 15px;
    background-color: #00000000;
}

.containerAbout button {
    border: none;
    background-color: #00000000;
    color: white;
}

.containerAbout button :hover {
cursor: pointer;
}