* {
  box-sizing: border-box;
}


body {
  margin: 40px 90px 0px 90px;
  color:#FF6060;
  font-family: "Montserrat",sans-serif;
}

a {
  text-decoration: none;
}

.nav-active {
  text-decoration: underline;
  text-decoration-color: #FF6060;
}


